<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务系统</title>
    <link rel="stylesheet" href="{% static '/polls/dist/css/index.css' %}">
  </head>
  <body>
<div class="body">
  <!-- 侧栏 -->
  <div class="side-box fl">
    <div class="headPortrait">
      <a href="#">
        <img src="{% static '/polls/dist/images/head.png' %}" alt="">
      </a>
    </div>
    <div class="line"></div>
    <div class="progress-list">
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
    </div>
    <div class="more">
      <span class="icon-more"></span>
    </div>
    <div class="line"></div>
    <div class="quit">
      <span class="icon-quit"></span>
    </div>
  </div>
  <!-- 内容 -->
  <div class="content-box">

  </div>
</div>
  </body>
</html>
