<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务系统</title>
    <link rel="stylesheet" href="{% static '/polls/dist/css/index.css' %}">
  </head>
  <body>
<div class="body">
  <!-- 侧栏 -->
  <div class="side-box fl">
    <div class="headPortrait">
      <a href="#">
        <img src="{% static '/polls/dist/images/head.png' %}" alt="">
      </a>
    </div>
    <div class="line"></div>
    <div class="progress-list">
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
    </div>
    <div class="more">
      <span class="icon-more"></span>
    </div>
    <div class="line"></div>
    <div class="quit">
      <span class="icon-quit"></span>
    </div>
  </div>
  <div class="more-box">
    <div class="list-item">
      <p>项目1</p>
    </div>
    <div class="list-item">
      <p>项目1</p>
    </div>
  </div>
  <!-- 内容 -->
  <div class="content-box">
    <!-- 头部 -->
    <div class="content-head">
      <div class="head-item">
        <span class="icon icon-progress"></span>
        <p class="title">当前项目 : </p>
        <p class="name">项目1</p>
      </div>
      <div class="head-line"></div>
      <div class="head-item">
        <span class="icon icon-task"></span>
        <p class="title">任务数量 : </p>
        <p class="name">1 / 30</p>
      </div>
      <div class="head-line"></div>
      <div class="head-item">
        <span class="icon icon-search"></span>
        <p class="title">搜索</p>
      </div>
      <div class="head-line"></div>
      <div class="head-item">
        <span class="icon icon-team"></span>
        <p class="title">团队 : </p>
        <p class="name">开发团队</p>
        <p class="createTeam">新建</p>
      </div>
      <div class="team-list">
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-more">
          <span class="icon-more"></span>
        </div>
      </div>
    </div>
    <!-- 任务列表 -->
    <div class="content-list">
      <div class="list-box">
        <div class="list-head clear">
          <p class="list-name fl">前端页面制作123123321</p>
          <span class="icon icon-putUp fr putUp"></span>
        </div>
        <!-- list start -->
        <div class="list-content">
          <div class="list-item">
            <p class="tip normal">普通</p>
            <p ><a class="list-title" href="#">前端页面美化</a></p>
            <div class="info-bottom clear">
              <p class="fl">
                <span class="icon icon-name"></span>
                <span class="person">me</span>
              </p>
              <p class="fr">
                <span class="icon icon-time"></span>
                <span class="time">2018-05-01</span>
              </p>
            </div>
          </div>

          <div class="list-item">
            <p class="tip important">加急</p>
            <p ><a class="list-title" href="#">前端页面美化</a></p>
            <div class="info-bottom clear">
              <p class="fl">
                <span class="icon icon-name"></span>
                <span class="person">me</span>
              </p>
              <p class="fr">
                <span class="icon icon-time"></span>
                <span class="time">2018-05-01</span>
              </p>
            </div>
          </div>

          <div class="list-item">
            <p class="tip timeout">过期</p>
            <p ><a class="list-title" href="#">前端页面美化</a></p>
            <div class="info-bottom clear">
              <p class="fl">
                <span class="icon icon-name"></span>
                <span class="person">me</span>
              </p>
              <p class="fr">
                <span class="icon icon-time"></span>
                <span class="time">2018-05-01</span>
              </p>
            </div>
          </div>
        </div>
        <!-- list end -->

        <div class="list-add">
          <span class="icon icon-add"></span>
        </div>
      </div>

      <!-- 添加任务列表 -->
      <div class="add-list">
        <span class="icon icon-add"></span>
      </div>
    </div>

  </div>

</div>

<!-- 新建团队 -->
<div class="create-team-box">
  <form action="" class="create-team-form">
    <div class="form-item">
      <label for="">名称</label>
      <input type="text" id="name" class="input"/>
    </div>
    <div class="form-item">
      <p class="title">背景</p>
      <div class="color-box">
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
        <span class="color-item"></span>
      </div>
    </div>
    <div class="form-item">
      <textarea class="info" placeholder="请介绍你的团队"></textarea>
    </div>
    <div class="form-btn">
      <div class="btn-box">
        <p class="btn no"><span class="icon icon-no"></span></p>
      </div>
      <div class="btn-box">
        <p class="btn yes










        "><span class="icon icon-yes"></span></p>
      </div>

    </div>
  </form>
</div>

<!-- 新建任务 -->
<div class="new-task">
  <div class="new-task-head">
    <h1 class="title">新建任务</h1>
  </div>
  <div class="new-task-content">
    <form class="new-task-form">
      <div class="form-item">
        <input type="text" name="title" placeholder="请输入标题">
      </div>
      <div class="form-item">
        <textarea name="content" placeholder="请输入内容"></textarea>
      </div>
      <div class="form-item">
        <span class="name">负责人</span>
          <div class="team-item">
            <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <span class="icon icon-add add-person"></span>
      </div>
      <div class="form-item">
        <span class="name">分配</span>
          <div class="team-item">
            <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <span class="icon icon-add add-person"></span>
      </div>
    </form>
  </div>
</div>
  </body>
</html>
