<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务系统</title>
    <link rel="stylesheet" href="{% static '/polls/dist/css/index.css' %}">
  </head>
  <body>
<div class="body">
  <!-- 侧栏 -->
  <div class="side-box fl">
    <div class="headPortrait">
      <a href="#">
        <img src="{% static '/polls/dist/images/head.png' %}" alt="">
      </a>
    </div>
    <div class="line"></div>
    <div class="progress-list">
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
      <div class="list-item">
        <p>项目1</p>
      </div>
    </div>
    <div class="more">
      <span class="icon-more"></span>
    </div>
    <div class="line"></div>
    <div class="quit">
      <span class="icon-quit"></span>
    </div>
  </div>
  <div class="more-box">
    <div class="list-item">
      <p>项目1</p>
    </div>
    <div class="list-item">
      <p>项目1</p>
    </div>
  </div>
  <!-- 内容 -->
  <div class="content-box">
    <!-- 头部 -->
    <div class="content-head">
      <div class="head-item">
        <span class="icon icon-progress"></span>
        <p class="title">当前项目 : </p>
        <p class="name">项目1</p>
      </div>
      <div class="head-line"></div>
      <div class="head-item">
        <span class="icon icon-task"></span>
        <p class="title">任务数量 : </p>
        <p class="name">1 / 30</p>
      </div>
      <div class="head-line"></div>
      <div class="head-item">
        <span class="icon icon-search"></span>
        <p class="title">搜索</p>
      </div>
      <div class="head-line"></div>
      <div class="head-item">
        <span class="icon icon-team"></span>
        <p class="title">团队 : </p>
        <p class="name">开发团队</p>
        <p class="createTeam">新建</p>
      </div>
      <div class="team-list">
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-item">
          <img src="{% static '/polls/dist/images/head.png' %}" alt="">
        </div>
        <div class="team-more">
          <span class="icon-more"></span>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
