$fontPath : '../fonts/';

@font-face {
	font-family: "font-default";
	src: url($fontPath+'font-default.eot');
	src: url($fontPath+'font-default.eot?#iefix') format('embedded-opentype'),
		url($fontPath+'font-default.woff') format('woff'),
		url($fontPath+'font-default.ttf') format('truetype'),
		url($fontPath+'font-default.svg#font-default') format('svg');
}

@mixin icon-styles {
	font-family: "font-default";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == add {
		$char: "\E001";
	}
	@if $filename == more {
		$char: "\E002";
	}
	@if $filename == name {
		$char: "\E003";
	}
	@if $filename == no {
		$char: "\E004";
	}
	@if $filename == progress {
		$char: "\E005";
	}
	@if $filename == psd {
		$char: "\E006";
	}
	@if $filename == putUp {
		$char: "\E007";
	}
	@if $filename == quit {
		$char: "\E008";
	}
	@if $filename == right {
		$char: "\E009";
	}
	@if $filename == search {
		$char: "\E00A";
	}
	@if $filename == task {
		$char: "\E00B";
	}
	@if $filename == team {
		$char: "\E00C";
	}
	@if $filename == time {
		$char: "\E00D";
	}
	@if $filename == yes {
		$char: "\E00E";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-add {
	@include icon(add);
}
.icon-more {
	@include icon(more);
}
.icon-name {
	@include icon(name);
}
.icon-no {
	@include icon(no);
}
.icon-progress {
	@include icon(progress);
}
.icon-psd {
	@include icon(psd);
}
.icon-putUp {
	@include icon(putUp);
}
.icon-quit {
	@include icon(quit);
}
.icon-right {
	@include icon(right);
}
.icon-search {
	@include icon(search);
}
.icon-task {
	@include icon(task);
}
.icon-team {
	@include icon(team);
}
.icon-time {
	@include icon(time);
}
.icon-yes {
	@include icon(yes);
}