@import "reset";
@import "font-default";

html, body {
  height: 100%;
}

.body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-box {
  height: 100%;
  width: 80px;
  background: #666;

  .headPortrait {
    height: 50px;
    width: 50px;
    margin: 20px auto;
    border: 5px solid #fff;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .line {
    width: 50px;
    height: 1px;
    background: #fff;
    margin: 20px auto;
  }

  .progress-list {
    width: 100%;

    .list-item {
        width: 50px;
        height: 50px;
        text-indent: 5px;
        line-height: 50px;
        font-size: 20px;
        color: #fff;
        background: #999;
        border-radius: 25px;
        overflow: hidden;
        margin: 20px auto;
        cursor: pointer;

    }
  }

  .more, .quit {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    background: #999;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
  }
}

.more-box {
  width: 500px;
  height: 680px;
  position:absolute;
  top: 0px;
  left: 80px;
  background: #f2f2f2;
  border: 1px solid #eee;
  display: none;

  .list-item {
      width: 50px;
      height: 50px;
      display: inline-block;
      text-indent: 5px;
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      background: #999;
      border-radius: 25px;
      overflow: hidden;
      margin: 20px 0 0 20px;
      cursor: pointer;


  }


}

.content-box {
  margin-left: 80px;
  height: 100%;
  background: #f5f5f5;
}

.content-head {
  height: 100px;
  line-height: 100px;
  width: 100%;
  position: fixed;
  top:0;
  left:80px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;

  * {
    display: inline-block;
    vertical-align: middle;
  }
  .head-item {
    font-size: 20px;
    margin: 0 20px;

    .icon {
      height: 30px;
      width: 30px;
      background: #ccc;
      border-radius: 15px;
      text-align: center;
      line-height: 30px;
      color: #fff;
    }
    .createTeam {
      height: 30px;
      width: 80px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ccc;
      color: #ccc;
      cursor: pointer;
      border-radius: 3px;
      transition: all 0.3s linear;

      &:hover {
        background: #ccc;
        color: #fff;
      }
    }
  }
  .head-line {
    width: 1px;
    height: 80px;
    background: #ccc;
    margin: 10px 0;
  }

  .team-list {
    .team-item {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0 15px;
      overflow: hidden;
      font-size: 0;


      img {
        height: 100%;
        width: 100%;
        vertical-align: top;
      }
    }

    .team-more {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0 15px;
      overflow: hidden;
      font-size: 30px;
      color: #fff;
      background: #ccc;
      line-height: 50px;
      text-align: center;
    }
  }
}
// 新建团队
.create-team-box {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  background: #fff;
  display: none;

  .create-team-form {
    width: 80%;
    padding: 20px 10%;
    overflow: hidden;

    .form-item {
      width: 100%;
      // height: 35px;
      line-height: 35px;
      margin-bottom: 20px;

      label {
        width: 50px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
      }
      .input {
        width: 330px;
        height: 35px;
        border: none;
        border-bottom: 1px solid #999;
      }

      .title {
        width: 50px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
      }

      .color-box {
        width: 330px;
        display: inline-block;
        vertical-align: top;
        font-size: 0;

        .color-item {
          display: inline-block;
          height: 30px;
          width: 30px;
          border: 3px solid #f5f5f5;
          border-radius: 50%;
          overflow: hidden;
          background: #ccc;
          margin: 0 10px;
        }
      }

      .info {
        width: 100%;
        height: 150px;
        overflow-y: scroll;
        border: none;
        border-bottom: 1px solid #999;
        // border-right: 1px solid #999;
        line-height: 2;
      }
    }

    .form-btn {
      width: 100%;
      font-size: 0;
      .btn-box {
        display: inline-block;
        width: 50%;
        text-align: center;
      }
      .btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        margin: 0 auto;
        font-size: 20px;
      }
      .no {
        color:#dd9665;
        border: 1px solid #dd9665;
      }
      .yes {
        color:#50de5b;
        border: 1px solid #50de5b;
      }
    }
  }
}


// 任务列表
.content-list {
  width: 100%;
  overflow: scroll;
  margin-top: 101px;

  .list-box {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    background: #fff;
  }
  .list-head {
    margin: 10px;
    border-bottom: 1px solid #333;

    .list-name {
      font-size: 16px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
      line-height: 35px;
    }
    .putUp {
      margin-top: 8px;
    }
  }

  .list-content {
    .list-item {
      margin:10px;
      padding: 5px;
      background: #f9f9f9;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      .tip {
        position: absolute;
        top:5px;
        right: 5px;
        padding: 2px 5px;
        border-radius: 3px;
        font-size: 12px;
        color: #fff;
      }
      .normal {
        background: #61de3c;
      }
      .important {
        background: #ed7c58;
      }
      .timeout {
        background: #e7b521;
      }
      .list-title {
        line-height: 2;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .info-bottom {
        font-size: 16px;
        color: #999;

        .icon {
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }
  }

  .list-add {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #999;
    cursor: pointer;
  }

  .add-list {
    display: inline-block;
    width: 250px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #999;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px;
    cursor: pointer;
  }
}

// 新建任务
.new-task {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  border-left: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background: #fff;

  .new-task-head {
    padding: 20px;

    .title {
      font-size: 25px;
      line-height: 2;
      color: #666;
    }
  }

  .new-task-content {
    padding: 20px;
  }
  .new-task-form {
    width: 100%;

    .form-item {
      margin: 20px 0;
      width: 80%;

      input[type='text'] {
        height: 35px;
        line-height: 35px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
        text-indent: 10px;
        color: #666;
      }
      textarea {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        line-height: 2;
        font-size: 15px;
        color: #666;
      }
    }
  }
}
